<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <section class="al__viewport">
        <section class="al__view">
            <section class="al__container">
                <section class="al__row al__row--center">
                    <section class="al__lg_8">
                        <h1>Pago realizado exitosamente</h1>
                        <h3>¿Qué dese hacer a continuación?</h3>
                        <p>&nbsp;</p>
                    </section>
                </section>
                <section class="al__row al__row--center">
                    <section class="al__lg_4">
                        <section Name="button__bound">
                            <a 
                                class="button__form"
                                href="/rfc.html"
                                >Tramitar factura</a>                            
                        </section>
                    </section>
                    <section class="al__lg_4">
                        <section Name="button__bound">
                                <a 
                                class="button__form"
                                href="/"
                                >Terminar operación</a>                            
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <!-- Footer Component -->
        <footer class="footer__shape">
                <section class="al__container">
                    <section class="al__row al__row--center">
                        <section class="al__lg_12">
                            <small class="footer__white">Morcom International, Inc</small>
                        </section>
                        <section class="al__lg_12">
                            <small class="footer__white">Alden Weather Systems Division</small>
                        </section>
                    </section>
                </section>
            </footer>
    </section>
</body>
</html>
