<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <section class="al__viewport">
        <section class="al__view">
            <nav class="nav__shape">
                <section class="button__bound button__bound_sm"> 
                    <a 
                        class="button__form button__form_sm"
                        href="/service-number.html"
                        ><img src="./assets/images/back.png" alt="back button">Regresar</a>
                </section>
                <h3>FORMATO DE PAGO</h3>
            </nav>
            <section class="al__container">
                <section class="al__row al__row--center">
                    <section class="al__lg_6">
                            <section class="al__row">
                                    <section class="al__lg_12">
                                        <section class="input__bound input__bound--left">
                                            <label
                                                class="input__label" 
                                                for="clientName">Nombre de cliente</label>
                                            <input 
                                                id="clientName"
                                                type="text" 
                                                class="input__form" 
                                                value="César Chávez"
                                                placeholder="Nombre completo"
                                                disabled/>
                                        </section>
                                    </section>
                                    <section class="al__lg_12">
                                        <section class="input__bound input__bound--left">
                                            <label
                                                class="input__label" 
                                                for="clientMail">Correo electrónico</label>
                                            <input 
                                                id="clientMail"
                                                type="text" 
                                                class="input__form" 
                                                value="cesarchavezcal@gmail.com"
                                                placeholder="Correo electrónico"
                                                disabled/>
                                        </section>
                                    </section>
                                    <section class="al__row">
                                        <section class="al__lg_6">
                                            <section class="input__bound input__bound--left">
                                                <label
                                                    class="input__label" 
                                                    for="clientOrder">Nº de orden</label>
                                                <input 
                                                    id="clientOrder"
                                                    type="text" 
                                                    class="input__form" 
                                                    value="98989890"
                                                    placeholder="Numero de orden"
                                                    disabled/>
                                            </section>
                                        </section>
                                        <section class="al__lg_6">
                                                <section class="input__bound input__bound--left">
                                                    <label
                                                        class="input__label" 
                                                        for="clientTotal">Total</label>
                                                    <input 
                                                        id="clientTotal"
                                                        type="text" 
                                                        class="input__form" 
                                                        value="1254$"
                                                        placeholder="Total"
                                                        disabled/>
                                                </section>
                                            </section>
                                    </section>
                                    <section class="al__lg_12">
                                        <section class="input__bound input__bound--left">
                                            <label
                                                class="input__label" 
                                                for="clientCard">Numero de tarjeta</label>
                                            <input 
                                                id="clientCard"
                                                type="text" 
                                                class="input__form" 
                                                placeholder="XXXX XXXX XXXX XXXX"/>
                                        </section>
                                    </section>
                                    <section class="al__row">
                                            <section class="al__lg_6">
                                                <section class="input__bound input__bound--left">
                                                    <label
                                                        class="input__label" 
                                                        for="expDate">Fecha de expiración</label>
                                                    <input 
                                                        id="expDate"
                                                        type="text" 
                                                        class="input__form" 
                                                        placeholder="MM / YY"/>
                                                </section>
                                            </section>
                                            <section class="al__lg_6">
                                                    <section class="input__bound input__bound--left">
                                                        <label
                                                            class="input__label" 
                                                            for="ccvCode">CCV</label>
                                                        <input 
                                                            id="ccvCode"
                                                            type="password" 
                                                            class="input__form" 
                                                            placeholder="XXX"/>
                                                    </section>
                                                </section>
                                        </section>
                            </section>
                            <section class="al__row al__row--center">
                                    <section class="al__lg_12">
                                            <section class="button__bound">
                                                    <button
                                                    class="button__form"
                                                    >Pagar Servicio</a>                            
                                            </section>
                                    </section>
                            </section>
                    </section>
                </section>
            </section>
        </section>
        <!-- Footer Component -->
        <footer class="footer__shape">
                <section class="al__container">
                    <section class="al__row al__row--center">
                        <section class="al__lg_12">
                            <small class="footer__white">Morcom International, Inc</small>
                        </section>
                        <section class="al__lg_12">
                            <small class="footer__white">Alden Weather Systems Division</small>
                        </section>
                    </section>
                </section>
            </footer>
    </section>
</body>
</html>
